@model IEnumerable<Order>

@using RestaurentMS_Final_Project.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<br />
<div class="p-4 border rounded">

    <h2 style="color: black">Orders List</h2>

    @if (User.IsInRole("Admin"))
    {
        <div class="mb-2">
            <a asp-controller="Order" asp-action="Create" class="btn btn-md btn-primary"><i class="bi bi-file-plus-fill"></i>Add New Order</a>
        </div>
    }
    <table class="table table-striped border">

            <tr>
                <th scope="col">Customer Name</th>
                <th scope="col">Order Number</th>
                <th scope="col">Order Date & Time</th>
                <th scope="col">Total Amount</th>
                <th></th>
            </tr>



            @foreach (var item in Model)
            {
                <tr>
                    <td width="25%">
                        @item.CustomerName
                    </td>
                    <td width="25%">
                        @item.OrderNumber
                    </td>
                    <td width="25%">
                        @item.OrderDate
                    </td>
                    <td width="20%">
                        @item.FinalTotal
                    </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                    
                            <div role="group" class="w-5 btn-group">
                                <a asp-controller="Order" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i>Delete</a>

                            </div>
                   
                    }
                </td>
                </tr>
            }

    </table>
</div>