@model StudentMS.Models.Batch

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Batch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.batch_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.batch_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.batch_year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.batch_year)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.batch_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
