@model IEnumerable<StudentMS.Models.Batch>

@{
    ViewBag.Title = "Index";
}

<h1>Batch List</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.batch_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.batch_year)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.batch_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.batch_year)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.batch_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.batch_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.batch_id })
        </td>
    </tr>
}

</table>
